@font-face {
    font-family: 'MonseratRegular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'MonseratExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'MonseratBold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

body {
    font-family: MonseratRegular;
}

.tlacitko-universal {
    font-family: MonseratExtraBold;
    color: black;
    border-radius: 10px;
    background: #99ff32;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 20px 0px;
    border: 0;
}

.tlacitko-universal:hover {
    color: white;
    filter: brightness(115%) contrast(85%);
    border: 0;
}